    </main>
    <% if (typeof isAdminRoute !== "undefined" && isAdminRoute) { %>
      <%- include("admin-confirm-modal") %>
      <script src="/static/js/admin-confirm.js?v=1"></script>
    <% } %>
    <% if (typeof isAdminRoute !== "undefined" && !isAdminRoute && typeof isAuthRoute !== "undefined" && !isAuthRoute) { %>
      <script src="/static/js/online-tab-ping.js?v=1"></script>
    <% } %>
    <script src="/static/js/admin-return-button.js?v=1"></script>
  </body>
</html>
